
header {
    height: 60vh;
    width: 100%;
    background-color: #232e3c;
    background-image: url('https://res.cloudinary.com/hive-vpn/image/upload/v1640102752/earth-g93ef8c2f4_1280_attbls.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header h1 {
    color: #f1f4f4;
  }
  
  header p {
    color: #beb193;
    font-size: 20px;
  }
  

.ticket {
    background: #f8aa02;
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ticket__header h3 {
    font-weight: 700;
    font-size: 40px;
    color: #f2f2f2;
    border-bottom: 1px solid #00467a;
  }
  
  .ticket__footer p {
    font-family: "Poppins", "san-serif";
    font-weight: 300;
    color: #f1f4f4;
  }
.header__title{
  display: block;
  font-family: "Poppins", "san-serif";
  white-space: nowrap;
  border-right: 4px solid;
  width: 19ch;
  animation: typing 2s steps(12),
  blink .5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing{
  from {
    width: 0;
  }
}
@keyframes blink{
  50% {
    border-color: transparent;
  }
}

