h1{
    color: #00467a;
}
h2{
    color: #6c757d !important;
}

/*CONTENT STYLE CSS*/

.content{
    background-color: #f5f5f5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding:10px 20px ;
}