.contact{
    height: 80vh;
    width: 100%;
    background-color: #232e3c;
    background-image: url("https://res.cloudinary.com/hive-vpn/image/upload/v1640102569/bg-pattern_bnikze.png");
}

.telegram-icon{
    color: #183153;
}